# .github/workflows/publish.yml
name: Generate a build and push to another branch

on:
  push:
    branches:
      - main # Remove this line if your primary branch is "master"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checkout
    steps:
      - name: git-checkout
        uses: actions/checkout@v3
      - run: git checkout -b production
      - run: rm README.md && touch temp.txt
      - run: ls
